<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PiCam</title>
    <style type="text/css">
        .style1 {
            width: 50%;
        }
        .space {margin-top: 500px; }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">

        var isStream = false;
        var responseTime = new Date().getTime(); // Used for request->response timing

        function Button_onclick(direction) {
            $.ajax({url: '/' + direction});
        }


        // Sends custom command to the server.
        function send_debug_command() {
            $.ajax({
                url: $('#debug_cmd')[0].value,
                type: 'GET',
                success: function(data) {
                    $('#debug_log').text(data)
                }
            })
        }

        // Request a single image from the server.
        function request_image(callback) {
            $('#timestamp').text("Requesting image..."); // Mark timestamp
            responseTime = new Date().getTime();

            $.ajax({
                url: '/cmd/req_picture',
                type: 'GET',
                success: callback
            })
        }

        function handle_image_response(data) {
            var json_data = JSON.parse(data);

            var img = json_data['encoded_picture'];
            var timestamp = json_data['timestamp'];
            var nowTime = new Date().getTime();

            // Write image data to placeholder
            $('#image_placeholder').attr("src", "data:image/jpg;base64," + img);
            $('#timestamp').text("Picture taken on: " + timestamp); // Mark timestamp
            $('#ping').text("Response time: " + ((nowTime - responseTime) / 1000) + " seconds.");
        }

        // Start automatic streaming (As of right now, it's a pseudostream ;))
        function start_stream_request() {
            if (!isStream) return;
            $('#timestamp').text("Live stream started"); // Mark timestamp
            responseTime = new Date().getTime();

            $.ajax({
                url: '/cmd/req_picture',
                type: 'GET',
                success: handle_image_stream
            })
        }

        function handle_image_stream(data) {
            var json_data = JSON.parse(data);

            var img = json_data['encoded_picture'];
            var timestamp = json_data['timestamp'];
            var nowTime = new Date().getTime();

            // Write image data to placeholder
            $('#image_placeholder').attr("src", "data:image/jpg;base64," + img);
            $('#timestamp').text("Picture taken on: " + timestamp); // Mark timestamp
//            $('#ping').text("Response time: " + ((nowTime - responseTime) / 1000) + " seconds.");
            $('#ping').text("FPS: " + (1 / ((nowTime - responseTime) / 1000)) + " sdf.");
            start_stream_request();
        }

    </script>
</head>
<body onload="request_image(handle_image_response)">

<table align="center" class="style1">
    <tr>
        <td colspan="2" style="text-align: center">
            <div id="timestamp">Picture taken on: 2017-01-07 at 12.18.52 PM</div>
            <img id="image_placeholder" src="data:image/png;base64,"/>
             <!--<img src="{{url_for('video_feed')}}" />-->
            <div id="ping">Response Time: 0.022 seconds.</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <input id="btnPic" type="button" value="Take Picture" onclick="request_image(handle_image_response)"/>
            <input id="btnStream" type="button" value="Start Live Stream"
                   onclick="new function()
                                {
                                    isStream ? $('#btnStream').attr('value', 'Start Live Stream') : $('#btnStream').attr('value', 'End Live Stream');
                                    isStream = !isStream;
                                    start_stream_request();
                                }" />
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <p></p><br>
            Debugger:
            <br>
            <textarea id="debug_cmd" rows="4" cols="50" value="Input commands here">/cmd/video_feed</textarea>
            <br>
            <input id="debug_send" type="button" value="Send Command" onclick="send_debug_command()"/>
            <br><br>
            <textarea id="debug_log" rows="48" cols="160" readonly>Output</textarea><br>
            <!--<input id="btnUp" type="button" value="Start Live Stream" onclick="start_stream()"/>-->
            <div class="space"></div>
        </td>
    </tr>
</table>
</body>
</html>
