<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>PiCam</title>
    <style type="text/css">
        .style1 {
            width: 50%;
        }

        .space {
            margin-top: 500px;
        }
    </style>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script language="javascript" type="text/javascript">

        // Activate image clicking forwarding.
        $('#image_placeholder').ready(function () {
            $('img').click(function (e) {
                var offset = $(this).offset();
                var x_offset = e.pageX - offset.left;
                var y_offset = e.pageY - offset.top;

                $.ajax({
                    url: "cmd/clicked_picture",
                    type: 'GET',
                    data: {
                        x: x_offset,
                        y: y_offset,
                        width: $(this).width(),
                        height: $(this).height()
                    },
                    success: function (data) {
                        alert(data);
                    }
                });
            });
        });

        var isStreaming = false;
        var responseTime = new Date().getTime(); // Used for request->response timing
        //        $('#image_placeholder').on("click", function() { alert('fuck')}, false)

        function Button_onclick(direction) {
            $.ajax({url: '/' + direction});
        }


        // Sends custom command to the server.
        function send_debug_command(command) {
            $.ajax({
                url: command,
                type: 'GET',
                success: function (data) {
                    $('#debug_log').text(data)
                }
            })
        }

        // Request a single image from the server.
        function request_image(callback) {
            $('#timestamp').text("Requesting image..."); // Mark timestamp
            responseTime = new Date().getTime();

            $.ajax({
                url: '/cmd/req_picture',
                type: 'GET',
                success: callback
            })
        }

        function handle_image_response(data) {
            var json_data = JSON.parse(data);

            var img = json_data['encoded_picture'];
            var timestamp = json_data['timestamp'];
            var cv_operation = json_data['cv_operation'];

            var nowTime = new Date().getTime();

            // Write image data to placeholder
            $('#image_placeholder').attr("src", "data:image/jpg;base64," + img);
            $('#timestamp').text("Picture taken on: " + timestamp); // Mark timestamp
            $('#ping').text("Response time: " + ((nowTime - responseTime) / 1000) + " seconds.");

            handle_operation_selection(cv_operation);
        }

        function handle_operation_selection(cv_operation) {
            if (cv_operation == {{RAW_IMAGE}})
                $('#operation_raw')[0].selected = true
            else if (cv_operation == {{FACE_DETECTION}})
                $('#operation_face')[0].selected = true
            else if (cv_operation == {{MOTION_DETECTION}})
                $('#operation_motion')[0].selected = true
            else if (cv_operation == {{CANNY_EDGE_DETECTION}})
                $('#operation_canny_edge')[0].selected = true
            else if (cv_operation == {{CORNER_DETECTION}})
                $('#operation_corner')[0].selected = true
            else if (cv_operation == {{KEYPOINT_DETECTION}})
                $('#operation_keypoint')[0].selected = true
        }

        var imgCount = 0;
        // FPS Counter
        window.setInterval(function () { // Every 200 ms
            if (isStreaming) {
                $('#ping').text(imgCount + " frames per second."); // Crude FPS counter
                imgCount = 0;
            }
        }, 1000)

        // Start automatic streaming (As of right now, it's a pseudostream ;))
        function start_stream_request() {
            if (!isStreaming) return;
            $('#timestamp').text("Live stream started"); // Mark timestamp
            responseTime = new Date().getTime();

            $.ajax({
                url: '/cmd/req_picture',
                type: 'GET',
                success: handle_image_stream
            })
        }

        var imgCount = 0;
        function handle_image_stream(data) {
            var json_data = JSON.parse(data);
            imgCount++;

            var img = json_data['encoded_picture'];
            var timestamp = json_data['timestamp'];
            var cv_operation = json_data['cv_operation'];

            var nowTime = new Date().getTime();

            // Write image data to placeholder
            $('#image_placeholder').attr("src", "data:image/jpg;base64," + img);
            $('#timestamp').text("Picture taken on: " + timestamp); // Mark timestamp
            handle_operation_selection(cv_operation);
//            $('#ping').text((1 / ((nowTime - responseTime) / 1000)).toFixed(2) + " frames per second."); // Crude FPS counter

//            // FPS Counter
//            window.setTimeout(function() {
//                $('#ping').text(image_cycle_count + " frames per second."); // Crude FPS counter
//                image_cycle_count = 0;
//            }, 1000)

            start_stream_request();
        }

        function getClickPosition(e) {
            console.log(e.clientX + " " + e.clientY);
        }

        // Request a single image from the server.
        function request_operation_change(operation) {
            $.ajax({
                url: '/cmd/' + operation,
                type: 'GET'
            })
        }

    </script>
</head>
<body onload="request_image(handle_image_response)">

<table align="center" class="style1">
    <tr>
        <td colspan="2" style="text-align: center">
            <div id="timestamp">Picture taken on: 2017-01-07 at 12.18.52 PM</div>
            <img id="image_placeholder" src="data:image/jpeg;base64,"/>
            <!--<img src="{{url_for('video_feed')}}" />-->
            <div id="ping">Response Time: 0.022 seconds.</div>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <input id="btnPic" type="button" value="Take Picture" onclick="request_image(handle_image_response)"/>
            <input id="btnStream" type="button" value="Start Live Stream"
                   onclick="new function()
                                {
                                    if (isStreaming) {
                                        // Turn off live streaming
                                        $('#btnStream').attr('value', 'Start Live Stream')
                                        $('#btnPic').prop('disabled', false);
                                    } else {
                                        // Turn on live streaming
                                        $('#btnStream').attr('value', 'End Live Stream');
                                        $('#btnPic').prop('disabled', true);
                                    }
                                    isStreaming = !isStreaming;
                                    start_stream_request();
            }"/>
            <br><br>
            <select id="operation" size="6" style="width: 125px; text-align: center;">
                <option id="operation_raw" onclick="request_operation_change(this.value)" value="cv_raw_img" {% if
                        get_current_cv_operation== RAW_IMAGE %} selected {% endif %}>Raw Image
                </option>
                <option id="operation_face" onclick="request_operation_change(this.value)" value="cv_face_detect" {% if
                        get_current_cv_operation== FACE_DETECTION %} selected {% endif %}>Face Detection
                </option>
                <option id="operation_motion" onclick="request_operation_change(this.value)" value="cv_motion_detect" {%
                        if
                        get_current_cv_operation== MOTION_DETECTION %} selected {% endif %}>Motion Detection
                </option>
                <option id="operation_canny_edge" onclick="request_operation_change(this.value)"
                        value="cv_canny_edge_detect" {% if
                        get_current_cv_operation== CANNY_EDGE_DETECTION %} selected {% endif %}>Canny Edge Detection
                </option>
                <option id="operation_corner" onclick="request_operation_change(this.value)" value="cv_corner_detect" {%
                        if
                        get_current_cv_operation== CORNER_DETECTION %} selected {% endif %}>Corner Detection
                </option>
                <option id="operation_keypoint" onclick="request_operation_change(this.value)" value="cv_keypoint_detect" {%
                        if
                        get_current_cv_operation== KEYPOINT_DETECTION %} selected {% endif %}>Keypoint Detection
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="2" style="text-align: center">
            <p></p><br>
            Debugger:
            <br>
            <textarea id="debug_cmd" rows="4" cols="50" value="Input commands here">/cmd/req_picture</textarea>
            <br>
            <input id="debug_send" type="button" value="Send Command"
                   onclick="send_debug_command($('#debug_cmd')[0].value)"/>
            <br><br>
            <textarea id="debug_log" rows="48" cols="160" readonly>Output</textarea><br>
            <!--<input id="btnUp" type="button" value="Start Live Stream" onclick="start_stream()"/>-->
            <div class="space"></div>
        </td>
    </tr>
</table>
</body>
</html>
